@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F5F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-custom {
  color: #fff;
  text-decoration: underline;
}

.adv-icon {
  height: 5rem;
}


.button-gradient {
  background: linear-gradient(270deg, rgba(90, 226, 140, 0.89) 4.29%, rgba(211, 227, 130, 0.45) 153.33%),
    linear-gradient(269.91deg, #1FE121 4.36%, rgba(241, 241, 241, 0.45) 111.19%);
}

.checkout-block-shadow {
  box-shadow: 1px 1px 10px 0px #0000001A;
}

.required:after {
  content: " *";
  color: red;
}

/*--------------------------------
-----------SWIPER-----------------
----------------------------------*/
.swiper {}

.swiper-pagination-bullet-active {
  background: rgb(90, 226, 140) !important;
}


#header {
  transition: transform .6s ease-in-out;
}

.hidden-header {
  transform: translateY(-100%);
  /* Hide the header by moving it up */
}

.adv-block {
  transition: margin .2s ease-in-out;
}


.reveal-block {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hiddenn {
  display: none;
}

.reveal-block.visiblee {
  opacity: 1;
}

.scroll-area {
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  overflow: auto hidden;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

.adv-items {
  display: grid;
  grid: auto / auto-flow min(80vw, 350px);
  gap: 20px;
}

.header-hidden {
  /* opacity: 0; */
  transform: translateY(-100%);
}


/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 12px;  /* Width of the vertical scrollbar */
  height: 12px;
}

.react-tel-input .form-control {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  /* border: 1px solid #439F67 !important; */
  border: none !important;
  border-radius: 0.5rem !important;
}


.flag-dropdown {
  background: none !important;
  border: none !important;
  /* background: #13171D !important; */
  /* border: 1px solid #439F67 !important; */
  border-radius: 0.5rem !important;
}

.selected-flag:hover {
  background: none !important;
}


